@use "../mixins/animation" as *;

.dropdown-trigger {
	position: relative;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
	min-width: 150px;
	z-index: 999;
	opacity: 0;
	@include dropdown-animate("down");
}