.sl-l-section {
    max-width: 100%;
}

.sl-l-block {
    @extend .d-flex;
    max-width: $sl-v-max-width;
    margin: auto;
}

.sl-l-block__item {
    @extend .d-flex, .flex-fill, .justify-content-center;
}