@use '../variables/colors' as *;
@use '../variables/border-radius' as *;
@use "../mixins/typography" as *;

.tag {
    display: block;
    @include generate-type("medium");
    padding: 1rem 2rem;
    border-radius: $border-radius-4;
    @each $key, $val in ($color-theme) {
		&.#{$key} {
			background-color: $val;
			@if ($key == "white") {
				color: $color-primary;
			} @else {
				color: white;
			}
		}
	}
}