.tag {
    display: block;
    font-size: 12px;
    padding: 1rem 2rem;
    border-radius: 3rem;
    @each $key, $val in ($color-theme) {
		&.#{$key} {
			background-color: $val;
			@if ($key == "white") {
				color: $color-primary;
			} @else {
				color: white;
			}
		}
	}
}