@use '../variables/colors' as *;
@use '../variables/icons' as *;

$icon-size-map: (
    "xs": $icon100, 
    "sm": $icon200, 
    "md": $icon300, 
    "lg": $icon400
);

.icon {
	@each $key, $val in ($color-theme) {
		&.#{$key} {
			color: $val;
		}
	}
	@each $key, $val in ($icon-size-map) {
		&-#{$key} {
			font-size: #{$val};
			width: #{$val};
			height: #{$val};
		}
	}
}