// HEADINGS

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $color-heading;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.h1 {
	font-size: 69px;
}

.h2 {
	font-size: 48px;
}

.h3 {
	font-size: 39px;
}

.h4 {
	font-size: 34px;
}

.h5 {
	font-size: 28px;
}

// ALIGNMENT

.text-center {
	text-align: center;
}
