@mixin apply_background($color) {
	background-color: $color;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: darken($color, 5%);
		transition: background-color 0.3s ease-in-out;
	}
}

.sl-e-button {
	display: flex;
	font-size: 1rem;
	padding: 0.8rem 1.5rem;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	&.primary {
		@include apply_background($color-primary);
		color: white;
	}
	&.secondary {
		@include apply_background($color-secondary);
		color: white;
	}
}
