@use '../variables/colors' as *;
@use '../variables/border-radius' as *;

@mixin apply_background($color) {
	background-color: $color;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: darken($color, 5%);
		transition: background-color 0.3s ease-in-out;
	}
}

.button {
	display: flex;
	font-size: 16px;
	padding: 3rem 6rem;
	border-radius: $border-radius-2;
	border: none;
	cursor: pointer;
	@each $key, $val in ($color-theme) {
		&.#{$key} {
			@include apply_background($val);
			@if ($key == "white") {
				color: $color-primary;
			} @else {
				color: white;
			}
		}
	}
	&.small {
		font-size: 14px;
		padding: 1.5rem 3rem;
		border-radius: $border-radius-1;
	}
	&.large {
		font-size: 24px;
		padding: 3rem 7rem;
		border-radius: $border-radius-3;
	}
	&.full {
		justify-content: center;
		width: 100%;
	}
}

