[data-icon]:after {
	display: inline-block;
	width: 1rem; 
	margin-left: .3rem;
}
[data-icon="arrow"]:after {
	content: url("../../assets/icons/arrow.svg");
}

[data-icon="arrow-green"]:after {
	content: url("../../assets/icons/arrow-green.svg");
}

[data-icon="arrow-white"]:after {
	content: url("../../assets/icons/arrow-white.svg");
}

[data-icon="arrow-right-green"]:after {
	content: url("../../assets/icons/arrow-right-green.svg");
}

[data-icon="arrow-right"]:after {
	content: url("../../assets/icons/arrow-right.svg");
}

[data-icon="lang"]:after {
	content: url("../../assets/icons/lang.svg");
}
