.sl-l-container {
	max-width: $sl-v-max-width;
	margin: 0 auto;
	padding: 1rem;
}

.sl-l-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

// UTILS

.direction-row {
	flex-direction: row;
}

.direction-column {
	flex-direction: column;
}

.align-start {
	align-items: flex-start;
}

.justify-between {
	justify-content: space-between;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-33 {
	width: 33%;
}

.w-25 {
	width: 25%;
}

.h-100 {
	height: 100%;
}

.h-50 {
	height: 50%;
}

.h-33 {
	height: 33%;
}

.h-25 {
	height: 25%;
}

// FLEX GROW

.flex-grow-100 {
	flex-grow: 1;
}

.flex-grow-50 {
	flex-grow: 0.5;
}

// FLEX

.flex-100 {
	flex: 1;
}

.flex-50 {
	flex: 0.5;
}
