// TEXT COLORS

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-text {
	color: $color-text;
}

.color-white {
	color: white;
}

.color-light {
	color: $color-text--light;
}

.color-dark {
	color: $color-heading;
}

// BACKGROUND COLORS

.bg-primary {
	background-color: $color-primary;
}

.bg-secondary {
	background-color: $color-secondary;
}

.bg-white {
	background-color: white;
}

.bg-light {
	background-color: $gray300;
}

.bg-dark {
	background-color: $color-heading;
}

.bg-primary--dark {
	background-color: $green900;
}

// FILTER COLORS (CHANGE SVG FILL COLORS)

.filter-primary {
	filter: invert(77%) sepia(32%) saturate(855%) hue-rotate(100deg)
		brightness(85%) contrast(83%);
}

.filter-white {
	filter: invert(100%) sepia(99%) saturate(560%) hue-rotate(177deg)
		brightness(111%) contrast(100%);
}

// SHADOWS

.shadow {
	box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

// HOVER

.hover-light:hover {
	background-color: $gray200;
}

.hover-dark:hover {
	background-color: lighten($color-heading, 10%);
}

.hover-primary:hover {
	background-color: lighten($color-primary, 10%);
}

// BORDER

.border-bottom {
	border-bottom: 1px solid $gray200;
}

.border-right {
	border-right: 1px solid $gray200;
}

// TEXT ALIGN 

.text-center {
	text-align: center;
}