// BASE
$max-width: 1440px;

// COLORS
$white: #ffffff;

$gray100: #f9fafc;
$gray200: #f4f6f9;
$gray300: #e9ecf2;
$gray400: #e2e8ee;
$gray500: #d5dde5;
$gray600: #b1beca;
$gray700: #899bad;
$gray800: #505f6f;
$gray900: #202d3a;

$color-primary: #2984FF;
$color-primary--dark: #1053aa;
$color-secondary: #FF6270;

$color-success: #70CF98;
$color-danger: #e9404e;

$color-heading: #131736;
$color-text: #A5B4C9;
$color-text--light: #b9c6da;
$color-text--placeholder: #8c9eb9;

$color-border: $gray500;
$color-border--active: $gray700;

// MAPS

$color-theme: (
	"primary": $color-primary,
	"primary-dark": $color-primary--dark,
	"secondary": $color-secondary,
	"text": $color-text,
	"white": $white,
	"light": $color-text--light,
	"dark": $color-heading,
	"success": $color-success,
	"danger": $color-danger,
);

// SPACING

$border-radius: 6px;
