// BASE
$max-width: 1440px;

// COLORS
$gray100: #f9fafc;
$gray200: #f4f6f9;
$gray300: #e9ecf2;
$gray400: #e2e8ee;
$gray500: #d5dde5;
$gray600: #b1beca;
$gray700: #899bad;
$gray800: #505f6f;
$gray900: #202d3a;

$green100: #edf9f5;
$green200: #dbf4eb;
$green300: #a5e5cd;
$green400: #70d5b0;
$green500: #3bc693;
$green600: #37b78b;
$green700: #31a381;
$green800: #27806c;
$green900: #1b5a55;

$blue700: #075aff;

$color-primary: $green500;
$color-secondary: $blue700;

$color-heading: $gray900;
$color-text: $gray800;
$color-text--light: $gray700;